[submodule "WiringPi.Net"]
	path = WiringPi.Net
	url = https://github.com/danriches/WiringPi.Net.git
[submodule "DRIE"]
	path = DRIE
	url = https://github.com/danriches/WiringPi.Net.git
[submodule "Vier"]
	path = Vier
	url = https://github.com/danriches/WiringPi.Net.git
